/* 1、条件Hack*/
/*<!--[if IE]>

 .test{color:red;}

  <![endif]-->*/
 /*2、属性Hack*/
    .test{
        color:#090\9; /* For IE8+ */
        *color:#f00;  /* For IE7 and earlier */
        _color:#ff0;  /* For IE6 and earlier */
    }
 /*3、选择符Hack*/
    * html .test{color:#090;}       /* For IE6 and earlier */
* + html .test{color:#ff0;}     /* For IE7 */

.fu_div{
    display: table;
}
.fu_1span{
    display: table-cell;
    vertical-align: middle;
}




/*居中*/
.center{
    text-align: center;
}
.po{
    width:50px;
    height: 50px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}
.fu{
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -webkit-box;
    /*水平居中*/
}
img{
    /*图片水平居中*/
    object-fit: contain;
    /*object-fit: fill;
    object-fit: cover;
    object-fit: none;*/
    /*什么是内容拉伸(fill)，什么是内容全部都显示(contain)，什么是容器没有留白(cover)，什么是该多大就多大(none)。*/
    /*scale-down由于具有动态特性，所以要专门展示下。实际的替换内容表现是none和contain最终尺寸小的那个属性值的表现。*/
}
/*对齐*/
.fu{
    display: -webkit-box;
    /*-webkit-box-orient: horizontal;//水平方向*/
    -webkit-box-orient: vertical;//垂直方向
}
.zi{
    -webkit-box-flex: 1;
    width: 100%;
    background-color:#2a6de7!important;
text-align: center;
    border-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    color: #ffffff!important;

}
.zi:first-child{

}
/*超出*/
.dan{
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.duo{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
p {
    position:relative;
    line-height:1.4em;
    /* 3 times the line-height to show 3 lines */
    height:4.2em;
    overflow:hidden;
}
p::after {
    content:"...";
    font-weight:bold;
    position:absolute;
    bottom:0;
    right:0;
    padding:0 20px 1px 45px;
    background:url(http://css88.b0.upaiyun.com/css88/2014/09/ellipsis_bg.png) repeat-y;
}